<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Registro de evento</title>
    <style>
      /* Estilos generales */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
      }
      
      header {
        background-color: #0d79ca;
        color: #fff;
        padding: 10px;
        text-align: center;
      }
      
      main {
        max-width: 400px;
        margin: 20px auto;
        padding: 40px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      label {
        display: block;
        margin-bottom: 5px;
      }
      
      input[type='text'],
      input[type='password'],
      input[type='email'] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      button {
        background-color: #333;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #555;
      }
      
      /* Estilo para el mensaje de registro */
      .registro-message {
        background-color: #4caf50;
        color: white;
        padding: 10px;
        border-radius: 4px;
        margin-top: 10px;
      }
      
      /* Estilo para el mensaje de error */
      .error-message {
        background-color: #ff5733;
        color: white;
        padding: 10px;
        border-radius: 4px;
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <header>
      <!-- Aquí puedes colocar el encabezado de tu página -->
      <h1>Registro de evento</h1>
    </header>

    <main>
      <h1>Crear Evento</h1>
      {{ error }}
      <form action="/crear_evento/" method="POST">
        {% csrf_token %}
        {{ form }}
        <button>Save</button>
      </form>
    </main>
  </body>
</html>
