<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}

  <button>Update</button>
</form>

<form action="/complete_event/" method="POST">
  {% csrf_token %}
  <button>complete</button>
</form>

<form action="/delete_event/" method="POST">
  {% csrf_token %}
  <button>delete</button>
</form>
