<!DOCTYPE html>
<html>
  <head>
    <title>Enviar Correo</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <input type="submit" value="Enviar Correo" />
    </form>
  </body>
</html>
