<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CERTIPUCE ADMIN</title>
    <style>
      /* Estilos generales */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
      }
      
      header {
        background-color: #0d79ca;
        color: #fff;
        padding: 10px;
        text-align: center;
      }
      
      nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
      }
      
      nav ul li {
        margin: 0 10px;
      }
      
      nav ul li a {
        color: #fff;
        text-decoration: none;
      }
      
      main {
        padding: 20px;
      }
      
      footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
      }
      
      /* Estilos para el formulario de inicio de sesión */
      form {
        max-width: 300px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      label {
        display: block;
        margin-bottom: 10px;
      }
      
      button {
        background-color: #0d79ca;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #095c9d;
      }
      
      /* Estilo para la imagen de la parte superior derecha */
      .top-right-image {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
        height: auto;
      }
      
      a {
        color: #2e1611; /* Cambia este valor al color que desees */
        text-decoration: none; /* Quita el subrayado predeterminado */
      }
      
      /* Estilo para el enlace cuando se coloca el cursor encima */
      a:hover {
        color: #ff5733; /* Cambia este valor al color que desees cuando se pase el cursor */
      }
    </style>
  </head>
  <body>
    <header>
      <!-- Aquí puedes colocar el encabezado de tu página -->
      <h1>CERTIPUCE ADMIN</h1>
      <p>Obtén tu certificado al instante, a un clic de distancia</p>
    </header>

    <!-- Formulario de inicio de sesión -->
    <main>
      <h2>Iniciar sesión</h2>
      <form action="/admin_participantes/" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required />
        <br />
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required />
        <br />
        <button>Iniciar sesión</button>
      </form>
    </main>

    <!-- Imagen de la parte superior derecha -->
    <img src="https://scontent.fuio18-1.fna.fbcdn.net/v/t39.30808-6/378511294_2320070108194749_895391364838197039_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=49d041&_nc_eui2=AeGO6HdECAICfeYyx84qe7nE5TmaeLwYzwjlOZp4vBjPCHnEy8tbIEqx84f0Ql_unkpJpy2nWoAcWivviOCzXrZ5&_nc_ohc=TDRskDAa5YkAX9U32zu&_nc_ht=scontent.fuio18-1.fna&oh=00_AfBDw5oAercNAltAZUTAmw9jseRi4Cq07-UDZ52dQUFdkA&oe=65070083" alt="cert" class="top-right-image" />

    <p>
      ¿Aún no tienes una cuenta? <a href="/crear_usuario">Crear usuario</a>
    </p>
    <p>
      ¿Olvidaste tu contraseña? <a href="/recuperar_contraseña">Recuperar Contraseña</a>
    </p>
    <p>
      ¿Deseas regresar? <a href="/index">Pulsa Aquí</a>
    </p>

    <footer>
      <!-- Pie de página -->
      <p>&copy; <?php echo date("Y"); ?> CERTIPUCE</p>
    </footer>
  </body>
</html>
