{% for evento in eventos %}
  <div>
    <h2>{{ evento.nombre }}</h2>
    <p>Fecha de caducidad: {{ evento.fecha_caducidad }}</p>
    <button id="{{ evento.id }}" class="evento-button">Unirme</button>
    <h3>Participantes inscritos:</h3>
    <ul>
      {% for participante in evento.participantes.all %}
        <li>{{ participante.username }}</li>
        {% empty %}
        <li>Ningún participante inscrito aún</li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
