<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Eventos</title>
    <style>
      /* Estilos generales */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
      }
      
      header {
        background-color: #0d79ca;
        color: #fff;
        padding: 10px;
        text-align: center;
      }
      
      .top-right-button-container {
        position: absolute;
        top: 10px;
        right: 10px;
      }
      
      main {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      .profile-picture {
        max-width: 200px;
        border-radius: 50%;
        margin: 0 auto 20px;
        display: block;
      }
      
      .username {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      
      .email {
        color: #888;
        margin-bottom: 20px;
      }
      
      .description {
        margin-bottom: 20px;
      }
      
      .event-item {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #fff;
      }
      
      .event-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      .event-date {
        color: #888;
        margin-bottom: 10px;
      }
      
      .select-button {
        background-color: #333;
        color: #fff;
        padding: 8px 12px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }
      
      .select-button:hover {
        background-color: #555;
      }
      
      .event-description {
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body>
    <header>
      <!-- Aquí puedes colocar el encabezado de tu página -->
      <h1>Eventos</h1>
    </header>

    <main>
      <ul>
        <li>
          <a href="/lista_eventos/">
            <strong>{{ events.nombre }}</strong>
            {{ events.fecha }} {{ events.descripcion }}
            <p>{{ events.descripcion }}</p>
          </a>
        </li>
      </ul>
      <main>
        <!-- Contenido principal del perfil -->
        <div class="username">Nombre de Usuario(nombre registrado en la BDD)</div>
        <div class="email">Correo electrónico: correo electrónico registrado en la BDD</div>
        <div class="description">
          <p>Esta es una breve descripción del usuario. Puedes agregar detalles y cualquier otra información relevante sobre el perfil aquí.</p>
        </div>

        <h2>Eventos</h2>
        <div class="event-item">
          <div class="event-title">Día de la mujer</div>
          <div class="event-date">Fecha: 8 de Marzo del 2023</div>
          <div class="event-description">
            Descripción:<br />
            El día de la mujer queremos celebrar reconociendo la participación de todas y cada una de ellas que forman PUCE y parte de nuestros hogares, garantizando la igual de derechos y oportunidades que nos merecemos todas las personas.
          </div>
          <button class="select-button" onclick="seleccionarEvento('Día de la mujer')">Unirme</button>
        </div>

        <div class="event-item">
          <div class="event-title">San Valentín</div>
          <div class="event-date">Fecha: 14 de Febrero del 2023</div>
          <div class="event-description">
            Descripción:<br />
            El día de San Valentín compartiremos junto a nuestros seres queridos un poco de lo que nos gusta a todos con buena música, buffet, postres y observando una gran presentación sobre el día del amor y la amistad por parte de los integrantes de la PUCE. Si no tienes con quien venir, puedes traer a tu peludito.
          </div>
          <button class="select-button" onclick="seleccionarEvento('San Valentín')">Unirme</button>
        </div>

        <div class="event-item">
          <div class="event-title">Día del niño</div>
          <div class="event-date">Fecha: 1 de Junio del 2023</div>
          <div class="event-description">
            Descripción:<br />
            El día de San Valentín compartiremos junto a nuestros seres queridos un poco de lo que nos gusta a todos con buena música, buffet, postres y observando una gran presentación sobre el día del amor y la amistad por parte de los integrantes de la PUCE. Si no tienes con quien venir, puedes traer a tu peludito.
          </div>
          <button class="select-button" onclick="seleccionarEvento('San Valentín')">Unirme</button>
        </div>

        <h2>Eventos Disponibles</h2>

        <div class="event-item">
          <div class="event-title">Fundación de la Pontificia Universidad Católica del Ecuador</div>
          <div class="event-date">Fecha: 4 de Noviembre del 2023</div>
          <div class="event-description">Celebrando un año más de la gloriosa "Pontificia Universidad Católica del Ecuador" invitamos a todos los estudiantes y egresados a participar en las actividades a realizar.</div>
          <button class="select-button" onclick="seleccionarEvento('evento1')">Unirme</button>
        </div>

        <div class="event-item">
          <div class="event-title">Navidad</div>
          <div class="event-date">Fecha: 25 de Diciembre del 2023</div>
          <div class="event-description">La Navidad es una fecha muy especial en la cual compartimos con nuestros seres queridos y celebramos el nacimiento del niño Jesús, siendo la Universidad Católica muy devota a la religión se realiza la cordial invitación a participar en concursos, pamba mesas, recaudación de fondos para los más necesitados.</div>
          <button class="select-button" onclick="seleccionarEvento('evento2')">Unirme</button>
        </div>

        <!-- Puedes agregar más eventos según tus necesidades -->
      </main>
      <!-- Script para el procesamiento de selección de eventos -->
      <script>
        // Variable para rastrear el estado del botón
        var unirme = true
        
        function seleccionarEvento(evento) {
          var button = event.currentTarget
          if (evento === 'Día de la mujer' || evento === 'San Valentín' || evento === 'Día del niño') {
            alert('No es posible unirse, evento caducado.')
          } else {
            // Alternar entre "Unirme" y "Eliminar"
            if (unirme) {
              alert('Te haz unido correctamente')
              button.textContent = 'Eliminar'
              // También puedes realizar otras acciones, como eliminar el evento del perfil del usuario, etc.
            } else {
              alert('Se ha eliminado correctamente')
              button.textContent = 'Unirme'
              // Puedes revertir las acciones realizadas anteriormente aquí si es necesario
            }
            // Cambiar el estado actual del botón
            unirme = !unirme
          }
        }
      </script>
    </main>
    <form action="/procesar_login/" method="POST">
      <div class="top-right-button-container">
        <nav>
          <ul>
            <li>
              <a href="/actualizar_datos/">Actualizar Datos</a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li>
              <a href="/index/">Cerrar Sesión</a>
            </li>
          </ul>
        </nav>
      </div>
    </form>
  </body>
</html>
